$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  height: 100%;
  background-color: #ffffff;
}

body {
  background: transparent;
  //  font-family: Arial, sans-serif;
  font-family: 'Play', sans-serif;
  // font-family: 'Antic Didone', serif;
  font-size: 12px;
  color: #333;
}

.content {
  background-color: transparent;
  padding-bottom: 140px;
  min-height: 100%;
  margin: 0px auto;
  z-index: 500;
}

.menu {
  position: fixed;
  bottom: 0px;
  width: 80%;
  padding-bottom: 40px;
  background-color: #ffffff;
  z-index: 1000;
}

.page-end-line {
  background-color: black;
  height: 8px;
  margin-bottom: 10px;
}

.menu-items {
  width: 70%;
  float: left;
}

.menu-item {
  background: none;
  font-weight: normal;
  float: left;
  margin-right: 30px;
  cursor: pointer;
  display: block;
  border-width: 1px;
  border-bottom-style: solid;
}

.menu-item-selected {
  font-weight: bold;
  border-style: none;
  border-bottom-style: solid;
  border-width: 2px;
}

img.logo {
  width: 240px;
}

div.logo {
  float: right;
}

.content-area {
  width: 90%;
}

.content-picture {
  margin-top: 40px;
  float: right;
}

.picture {
  height: auto;
  width: 300px;
  padding-top: 28px;
}

.movie-container {
  margin-top: 12px;
  float: left;
}

.news-list {
}

.news-items {
}

.news-item {
  margin-bottom: 6px;
}

.news-item-image {
}

.news-item-text {
}

.news-item-image-portrait {
  width: 30px;
  height: auto;
}

.news-item-image-landscape {
  width: auto;
  height: 30px;
}

.news-items-header {
  padding-top: 10px;
}

.news-item-picture {
  padding-bottom: 12px;
  width: 700px;
  height: auto;
}

/* testing */
.element {
  //  border-style: solid;
  //  border-color: black;
}

h5 {
  margin-top: 26px;
}

h1 {
  margin-bottom: 40px;
}

.links {
  padding-top: 12px;
}

