<h1>{{content.title}}</h1>

<div ng-repeat="item in content.contentItems">
    <h3>{{item.title}}</h3>

    <p ng-repeat="contentItem in item.contents">{{contentItem.content}}</p>

    <ul class="links-container">
        <li class="link" ng-repeat="link in item.links">
            <b>{{link.title}}</b> <a href="{{link.link}}" target="_blank">{{link.type}}</a>
            <!--<img src="images/site/pdf-80_32.png"/>-->
            <!--<img src="images/site/docx_win-80_32.png"/>-->
        </li>
    </ul>
</div>
